@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.header{
    background-color: aqua;
    padding-bottom: 12px;
    padding-top: 1px;
    padding-right: 139px;
}
.headerh1{
    font-size: 35px;
    font-family: 'Acme', sans-serif;
}

.mercados{
    background-color: #336A29;
    position: absolute;
    right: 0; /*Para posicionarlo del lado derecho*/
    border-radius: 25px 0px 0px 25px;
    margin-top: 25px;
    display: flex;
}

.imagenLogo{

    width: 90px; /* Establece el ancho deseado */
    height: 90px; /* Establece la altura deseada */
    padding-left: 15px;
    padding-top: 45px;
}

.textoMercado{
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    color: aliceblue;
    
}

.infoMercado{
    color: rgb(49, 49, 49);
}

.imagenLogo, .infoMercado {
    flex: 1;
}