@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
.mercados{
    background-color: #336A29;
    position: absolute;
    right: 0; /*Para posicionarlo del lado derecho*/
    border-radius: 25px 0px 0px 25px;
    margin-top: 25px;
}

.imagenLogo{

    width: 90px; /* Establece el ancho deseado */
    height: 90px; /* Establece la altura deseada */
    padding-left: 50px;
    padding-top: 15px;
}

.textoMercado{
    padding-left: 50px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    
}