@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #F6EDEC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6edec;
    padding: 12px 13px 1px 0;
  }
  
  .logohome{
    width: 100px;
    height:40px;
    padding-left: 10px;
}

  .menu-container {
    margin-left: 1px;
    padding-top: 4px;
  }

.menu-container img{
    width: 26px;
  }

.headerH1{
    color: black;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
}

.mercados{
    background-color: #336A29;
    right: 0; 
    border-radius: 38px 0px 0px 38px;
    margin-top: 20px;
    margin-left: 78px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.404);
}

.nombreMercado{
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 18px;
}

.container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.imagenLogo{
    width: 90px;
    height: 90px;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 55%;
    padding-right: 5px;
}

.textoMercado{
    padding-left: 5px;
    font-family: 'Acme', sans-serif;
    color: rgb(255, 255, 255);    
}

.infoMercado{
    margin-top: 1px;
    margin-bottom: 10px;
    padding-top: 1px;
    color: #bdbdbd;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.imagenLogo, .infoMercado {
    flex: 1;
}

.divbutton{
    background-color: #ffffff;
    margin-left: 17px;
    margin-top: 15px;
    padding-left: 0%;
    border-radius: 24px;
    margin-right: 16px;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 24px;
    padding: 5px;
    margin-left: 1px;
    margin-top: 5px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }

  .search-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    width: 20px;
    height: 20px; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: none;
    cursor: pointer;
    background-image: url("./src/Imagenes/lupa.png");
    background-color: #ffffff;
    margin-right: 10px;
  }
  
  .search-button i {
    color: #ffffff;
    font-size: 18px;
  }

  .hola{
    background-color: #ff0101;
  }