@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #F6EDEC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6edec;
    padding: 12px 1px 1px 0;
  }
  
  .logohome{
    width: 100px;
    height:40px;
    padding-left: 10px;
}

  .menu-container {
    margin-left: 198px;
    padding-top: 4px;
  }

.menu-container img{
    width: 26px;
  }

.headerH1{
    color: black;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
}

.mercados{
    background-color: #336A29;
    position: absolute;
    right: 0; 
    border-radius: 25px 0px 0px 25px;
    margin-top: 45px;
    display: flex;
    
}

.nombreMercado{
    margin-bottom: 5px;
    margin-right: 10px;
}

.container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.imagenLogo{
    width: 90px;
    height: 90px;
    padding-left: 15px;
    padding-top: 25px;
    border-radius: 50%;
}

.textoMercado{
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    color: rgb(255, 255, 255);    
}

.infoMercado{
    margin-top: 3px;
    padding-top: 1px;
    color: #E1E1E1;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.imagenLogo, .infoMercado {
    flex: 1;
}

.divbutton{
    background-color: #ffffff;
    margin-left: 17px;
    margin-top: 15px;
    padding-left: 0%;
    border-radius: 24px;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #70757a;
    border-radius: 24px;
    padding: 5px;
    margin-left: 2px;
    margin-top: 5px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
  }
  
  .search-button i {
    color: #70757a;
    font-size: 18px;
  }
  
